
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  margin: 15px;
  flex-wrap: wrap;
}

li {
  padding: 5px;
  font-size: 20px;
}

.center-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100vw;
  min-height: 100vh;
  flex: 1;
}

.dynamic-container {
  flex: 1;
  min-height: 85vh;
}

.left-bar {
  justify-content: center;
  position: sticky;
  top: 0;
  margin: 0;
  height: 100vh;
  
}

.contact-list {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8vh;
  grid-auto-rows: 8vh;
  align-content: start;
  overflow: auto;
  position: sticky;
  top: 0;
  margin: 0;
  height: 100vh;
}

.task-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.task-box {
  display: grid;
  grid-template-columns: auto 2fr 2fr 2fr 2fr auto;
  grid-template-rows: 1fr 1fr;
  border: 1px solid white;
  font-size: 25px
}

.task-box > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}


.checkbox {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.checkbox > input {
  height: 30px;
  width: 30px;
}

.task-box > .title {
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
}

.task-box > .project {
  grid-column-start: 4;
  grid-column-end: span 2;
  grid-row-start: 1;
}

.task-box > .created {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;

}

.task-box > .date-due {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
}

.task-box > .assigned {
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
}

.task-box > .created-by {
  grid-column-start: 5;
  grid-column-end: span 1;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
}

.task-box > .button1 {
  grid-column-start: 6;
  grid-column-end: span 1;
  grid-row-start: 1;
}

.task-box > .button2 {
  grid-column-start: 6;
  grid-column-end: span 1;
  grid-row-start: 2;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.button1 > button {
  background-color: greenyellow;
}

.button2 > button {
  background-color: yellow;
}

.buttons > button {
  padding: 10px;
  width: 60px;
  margin-top: 5px;
  margin-bottom:5px;
  margin-right: 10px;
  border-radius: 25px;
  text-align: center;
}

.contact {
  border: solid 1px white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.navbar {
  margin: 0;
  padding: 10px;
  min-width: 100vw;
  border: solid 1px white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
}

.login h3 {
  text-align: center;
}

.signup {
  display: flex;
  flex-direction: column;
}

.signup input {
  padding: 5px;
  margin: 5px;
}

.signup h3 {
  text-align: center;
}

.login input {
  padding: 5px;
  margin: 5px;
}

.link {
  color: white;
}

.link.active {
  color: red;
}

.navbar > h1 {
  margin-left: 15px;

}



.footer {
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;;
}

.name {
  padding-left: 10px;
  padding-right: 5px;
}

.to-do {
  padding-right: 10px;
}

@media only screen and (max-width: 650px) {
  .task-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    border: 1px solid white;
    overflow-x: auto;
  }

  .checkbox > input {
    height: 25px;
    width: 25px;
  }

  .task-box > div {
    display: flex;
    border: none;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
  }

  .button1 {
    grid-column-start: 2;
  }

  .button2 {
    grid-column-start: 3;
  }

  .checkbox {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 1;
  }

  .task-box > .title {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 2;
  }

  .task-box > .project {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 3;
  }
  
  .task-box > .created {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 4;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .task-box > .date-due {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 5;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .task-box > .assigned {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 6;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .task-box > .created-by {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 7;
    flex-direction: row;
    justify-content: space-between;
  }

  .task-box > .button1 {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
  }
  
  .task-box > .button2 {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
  }
}

@media (min-width: 650px) and (max-width: 800px) {
  .task-box {
      font-size: 17px;
  }
}

