$base-color: #d9d9d9;
$accent1: #4d94ff;
$font-color: #000000;
$border-weight: 10px;

.App {
  background-color: $base-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: $font-color;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  margin: 15px;
  flex-wrap: wrap;
}

li {
  padding: 5px;
  font-size: 20px;
}

.center-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100%;
  min-height: 100vh;
  flex: 1;
}

.dynamic-container {
  flex: 1;
  min-height: 85vh;
  width: 100%;
}

.profile {
  margin: 5px;
  display: block;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    border-radius: 25px;
  }

  .link {
    background-color: $accent1;
    color: #ffffff;
    padding: 0 20px;
    border-radius: 25px;
  }
}

.single-button {
  margin: 0;
  padding: 0;

  .task-link,
  .project-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    background-color: $accent1;
    margin: 5px;
    border-radius: 25px;
    padding: 5px;

    &:hover {
      background-color: #ffffff;
      color: $font-color;
    }
  }
}

.profile-edit {
  display: flex;
  flex-direction: column;

  .image-form {
    display: flex;
    flex-direction: column;

    .submit {
      width: 150px;
    }
  }

  .profile-edit-form {
    display: flex;
    flex-direction: column;

    div {
      display: flex;

      label {
        width: 100px;
      }

      input {
        width: 200px;
      }
    }
  }

  * {
    // padding: 10px;
    margin: 5px;
  }

  .submit {
    width: 100px;
    border-radius: 30px;
    background-color: $accent1;
    color: #ffffff;
    font-weight: 900;

    &:hover {
      cursor: pointer;
    }
  }

  .delete {
    width: 100px;
    border-radius: 30px;
    background-color: red;
    color: #ffffff;
    font-weight: 900;
    margin: 5px 10px;

    &:hover {
      cursor: pointer;
    }
  }
}

.side-tasks,
.project-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8vh;
  grid-auto-rows: 8vh;
  align-content: start;
  overflow: auto;
  position: sticky;
  top: 0;
  margin: 0;
  height: 100vh;
}

.project-task-list {
  margin: 5px;

  .task-label {
    margin-bottom: 15px;
  }

  .task-list {
    margin: 10px 5px;
  }
}

.userInfo,
.full-task-list,
.task-list,
.edit-form h1,
.new-project-form h1 {
  margin: 5px;
}

.task-header {
  background-color: $accent1;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  margin: 5px 0 15px;
  padding: 10px;
  text-align: center;

  @media (min-width: 951px) {
    display: none;
  }
}

.task-label {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: $accent1;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid $base-color;
  border-radius: 10px;
  margin: 5px 0 15px;
  padding: 0 10px;

  @media (max-width: 950px) {
    display: none;
  }

  .task-title {
    grid-column-start: span 4;
  }

  .task-assignee {
    grid-column-start: span 2;
    margin-left: -15px;
  }

  .task-date {
    grid-column-start: span 2;
    margin-left: -10px;
  }

  .task-project {
    grid-column-start: span 3;
    margin-left: -10px;
  }
}

.task-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 15px;

  @media (max-width: 950px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.checkbox > input {
  height: 30px;
  width: 30px;
}

.task-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #ffffff;
  border-radius: 10px;

  @media (max-width: 950px) {
    display: none;
  }

  .task-title-container {
    display: flex;
    grid-column-start: span 4;

    input {
      margin-top: 16px;
      margin-right: 10px;
      height: 24px;
    }

    .title {
      margin-top: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .assigned {
    grid-column-start: span 2;
    position: relative;
    cursor: pointer;
    .assigned-title {
      &:hover {
        color: $accent1;
      }
    }
    .assigned-list {
      color: $font-color;
      cursor: default;
    }
  }

  .date-due {
    grid-column-start: span 2;
  }

  .task-card-project {
    grid-column-start: span 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .link {
    display: flex;
    justify-self: self-end;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background-color: $accent1;
    color: #ffffff;
    border-radius: 25px;
    padding: 5px;
    height: 30px;
    margin-top: 8px;

    p {
      margin: 0;
    }
  }
}

.task-card-mobile {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 40%;
  min-width: 230px;

  @media (min-width: 951px) {
    display: none;
  }

  .task-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      height: 24px;
    }

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .assigned {
    grid-column-start: span 2;
    position: relative;
    cursor: pointer;
    .assigned-title {
      &:hover {
        color: $accent1;
      }
    }
    .assigned-list {
      color: $font-color;
      cursor: default;
    }
  }

  .date-due {
    grid-column-start: span 2;
  }

  .task-card-project {
    grid-column-start: span 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .link {
    display: flex;
    justify-self: self-end;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background-color: $accent1;
    color: #ffffff;
    border-radius: 25px;
    padding: 5px;
    height: 30px;
    margin-top: 8px;

    p {
      margin: 0;
    }
  }
}

.task-options {
  display:flex;
  justify-content: space-between;
  align-items: center;

  select {
    height: max-content;
    align-self: self-end;
  }
}

.task-full-view-container,
.project-details {
  display: flex;
  justify-content: center;
  .title {
    align-self: center;
  }

  .task-full-view,
  .project-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 25px;
    width: fit-content;
    font-size: 24px;

    div {
      display: flex;
      flex-wrap: wrap;

      u {
        width: 125px;
      }
    }

    * {
      margin: 5px;
    }

    .link {
      display: flex;
      background-color: $accent1;
      width: 50px;
      padding: 5px;
      border-radius: 25px;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      align-self: center;
    }

    .task-view-assigned {
      display: block;
    }
  }
}

.project-list {
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
    margin: 10px;
    padding: 0;
  }

  .project-card {
    background-color: #ffffff;
    color: $font-color;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    padding: 20px 10px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes fadeInAnimation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &.active {
      background-color: $accent1;
      color: #ffffff;
    }

    &:hover {
      background-color: $accent1;
      color: #ffffff;
    }

    .data-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.left-bar {
  justify-content: center;
  top: 0;
  margin: 0;
  height: 100vh;
  border-right: solid 10px white;
  width: 250px;
  transition: transform 0.5s;
}

.menu-icon {
  display: flex;
  justify-content: center;
  width: 100%;

  svg {
    width: 30px;

    &:hover {
      cursor: pointer;
      fill: $accent1;
    }
  }
}

.left-bar.hidden {
  width: 5vw;
}

.hide-content {
  display: none;
}

.contact-list {
  overflow: auto;
  top: 0;
  margin: 0;
  height: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 10px;
  margin-right: -10px;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $accent1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $accent1;
  }

  h2 {
    text-align: center;
  }
}

.link {
  text-decoration: none;
}

.contact-card-link {
  background-color: #ffffff;

  &.active {
    .contact-card {
      background-color: $accent1;
      color: #ffffff;
    }
  }

  &:hover {
    .contact-card {
      background-color: $accent1;
      color: #ffffff;
    }
  }
}

.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  background-color: #ffffff;
  color: $font-color;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  padding: 20px 10px;
  max-width: 200px;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  h3 {
    margin: 0;
  }

  .middle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px 10px;
    gap: 10px;

    .image-container {
      width: 100%;
      max-width: 100px;
      border-radius: 10px;
      display: block;
      flex-grow: 0;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        aspect-ratio: 1/1;
        inset: 0;
      }
    }
  }
}

.navbar {
  margin: 0;
  border-bottom: solid $border-weight white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 25px;
    padding: 5px;

    &.active {
      background-color: $accent1;
      color: #ffffff;
    }

    &:hover {
      background-color: $accent1;
      color: #ffffff;
    }
  }
}

.main-project-page {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.login,
.signup {
  display: flex;
  flex-direction: column;

  h3 {
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
  }

  .submit {
    background-color: $accent1;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
  }
}

.signup {
  display: flex;
  flex-direction: column;

  input {
    padding: 5px;
    margin: 5px;
  }

  h3 {
    text-align: center;
  }
}

.login input {
  padding: 5px;
  margin: 5px;
}

.new-task-form {
  .title-box {
    margin: 5px;
  }
}

.new-task,
.edit-task,
.new-project,
.edit-project {
  display: flex;
  flex-direction: column;

  .submit {
    width: 100px;
    border-radius: 30px;
    background-color: $accent1;
    color: #ffffff;
    font-weight: 900;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  * {
    padding: 10px;
    margin: 5px;
  }
}

.assign-users {
  margin: 5px;
}

.assigned {
  button {
    background-color: red;
    color: #ffffff;
    margin-left: 5px;
    border: none;
    border-radius: 25px;

    &:hover {
      background-color: #000000;
      cursor: pointer;
    }
  }
}

.delete {
  background-color: red;
  color: #ffffff;
  margin-left: 5px;
  margin-top: 20px;
  border: none;
  border-radius: 25px;

  &:hover {
    background-color: #000000;
    cursor: pointer;
  }
}

.navbar > h1 {
  margin-left: 15px;
}
.name {
  padding-left: 10px;
  padding-right: 5px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid $border-weight white;
}
